.login,
.registration,
.recovery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(105, 117, 134, 0.50);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;

  &__content {
    position: relative;
    width: 600px;
    min-width: 400px;
    padding: 40px 100px;
    margin: 0 auto;
    border-radius: 6px;
    background: #FFF;

    @media (max-width: 700px) {
      width: unset;
      padding: 40px 60px;
    }

    @media (max-width: 600px) {
      padding: 40px 40px;
    }

    h3 {
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
    }

    input {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #DFE1E3;
      background: white;
      margin-bottom: 20px;

      &::placeholder {
        color: #B0A6BD;
      }
    }

    label {
      position: relative;
    }

    label+p {
      color: #697586;
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px;

      a {
        text-decoration: underline;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    button {
      width: 100%;
      margin-bottom: 40px;
      padding: 15px;
      font-size: 16px;
    }

    button+p {
      color: #383838;
      font-size: 16px;
      text-align: center;

      a {
        font-weight: 600;
        color: #697586;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__show-password {
    display: block;
  }

  &__hide-password {
    display: none;
  }

  .password-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    stroke: #DFE1E3;

    &:hover {
      stroke: rgba(245, 163, 183, 1);
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;

    &:hover {
      opacity: 0.6;
    }
  }

  &__error {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    background: rgba(240, 154, 155, 0.10);
    margin-bottom: 20px;
    color: #E77373;
  }

  .success {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    background: rgba(127, 204, 198, 0.10);
    color: #7FCCC6;
  }

  .has-account {
    color: #697586;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;

    a {
      text-decoration: underline;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
  }
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;

  &__content {
    button {
      margin-bottom: 20px;
    }

    label.checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 40px;

      color: #383838;

      a {
        text-decoration: underline;

        &:hover {
          opacity: 0.6;
        }
      }

      input {
        width: fit-content;
        margin-bottom: 0;
        accent-color: rgba(255, 80, 166, 1);
      }
    }
  }

  #registration-one {
    display: block;
  }

  #registration-two {
    display: none;

    p {
      color: #B0A6BD;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  #registration-three {
    display: none;
  }
}

.recovery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;

  &__content {
    button {
      margin-top: 20px;
    }
  }

  #recovery-one {
    display: block;
  }

  #recovery-two {
    display: none;
  }

  #recovery-three {
    display: none;
  }

  #recovery-four {
    display: none;
  }
}